---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

@font-face {
    font-family: 'note_font';
    src: url('/images/font/Gilded Hand/webfont/gildedhand-webfont.eot');
    src: url('/images/font/Gilded Hand/webfont/gildedhand-webfont.eot?#iefix') format('embedded-opentype'),
         url('/images/font/Gilded Hand/webfont/gildedhand-webfont.woff2') format('woff2'),
         url('/images/font/Gilded Hand/webfont/gildedhand-webfont.woff') format('woff'),
         url('/images/font/Gilded Hand/webfont/gildedhand-webfont.ttf') format('truetype'),
         url('/images/font/Gilded Hand/webfont/gildedhand-webfont.svg#gilded_handregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
	background: $white;
  font: 18px/1.4 $lmodern;
  color: $darkGray;
}

figcaption {
    text-align: center;
    font-size: 16px;
}

@media print {
  img {
    image-resolution: 300dpi;
  }
}


.mobileView {
    display: none;
}

@media only screen and (max-width: 980px) {
html, body {
  display: none;
 }
}


h1, h2, h3, h4, h6 {
  font-family: $lmodern;
  line-height: 1.7;

  @include mobile {
    line-height: 1.4;
  }
}

h5 {
    color: #57201d;
}

// 8f716f

h1 {
  font-size: 38px;
  text-align: center;
  letter-spacing: 3px;
  color: #57201d;
  font-weight: 100;
  margin: 100px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #8f716f;
  margin: 50px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  color: #8f716f;
}

h6 {
    font-size: 24px;
    color: rgba(1, 54, 81, 0.7);
}

h4 {
  font-size: 28px;
  text-align: center;
  letter-spacing: 3px;
  color: #092b44;
  font-weight: 100;

  a {
    color: inherit;
  }
}

p {
  margin: 15px 0;
  line-height: 2;
}

a {
  color: #092b44;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  position: relative;
  margin: 5px;
  padding-left: 10px;
  left: 15px;
}

ol li a {
    position: relative;
    left: 15px;
}

ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 10px;
  line-height: 3;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  position: relative;
  margin: auto;
  width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  text-align: right;
  font-style: italic;
  font-size: 16px;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(80, 8, 8, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(80, 8, 8, 1);
}

.fat_title {

    p {
        color: #94a5b4;
        font-weight: 300;
        font-size: 60px;
        height: 200px;

    }
}

.box_comment {
    width: 370px;
    position: relative;
    top: 100px;
    align: right;
    right: 50px;
    z-order: 99;
}

.comment_col {
    z-order: 1;
    position: absolute;
    top: 0px;
    left: -460px;
    width: 500px;
    height: 100%;
}

.comment_txt {
    line-height: 30px;
}

.comment_sec {
    width: 350px;
    position: fixed;
    top: 200px;
    align: right;
    right: 40px;
}

#fname , #quest {
    background-color: rgba(255, 255, 255,  0.6);
    width: 320px;
    border-style: none;
    font-size: 18px;
    align: right;
    transition: all 0.2s ease-out;
    color: rgba(82, 15, 15, 0.5);
    font-family: $lmodern;
    }

#l_quest {
    position: fixed;
    top: 270px;
}

#quest {
    height: 300px;
    position: fixed;
    top: 310px;
    }

#sub {
      position: fixed;
      top: 640px;
      z-index: 99; /* Make sure it does not overlap */
      border: none; /* Remove borders */
      outline: none; /* Remove outline */
      background-color: #092b44; /* Set a background color */
      color: white; /* Text color */
      padding: 10px; /* Some padding */
      border-radius: 0px; /* Rounded corners */
      font-size: 14px;
      letter-spacing: 3px;
}

#sub:hover {
  background-color: $blue; /* Add a dark-grey background on hover */
}

input {
    display: block;
    margin: 0;
    }

.wrapper-masthead {
  margin-bottom: 0px;
}

.masthead {
  width: 100vw;
  margin: 0px;
  padding: 20px 20px, 20px, 100px;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  left: 0px;
  top: 0px;
  height: 90px;
  width: 90px;
  margin-left: 5px;
  margin-top: 5px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  font-color: #092b44;
  margin: 0;
  position: absolute;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 0.1px;
}

.site-description {
  position: relative;
  top: 9px;
  left: 40px;
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  font-family: $helveticaNeue;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    padding-right: 20px;
    padding-top: 30px;
    margin-top: 30px;
    padding-left: 20px;
    position: relative;
    top: 40px;
    right: 40px;
    color: $darkGray;
    text-align: right;
    font-size: 25px;
    font-weight: 900;
    color: rgba(87, 32, 29, 1);
    letter-spacing: 0.7px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

.separator {
    margin: 40px 0px;
}

//
// .main
//

.page {
    position: relative;
    background-color: white;
    align: center;
    padding: 50px;
    top: 50px;
    width: 1500px;
    justify-content: center;
    margin: auto;
    z-index: 0;

}

.about_page {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    align: center;
    padding: 50px;
    top: 50px;
    width: 1500px;
    justify-content: center;
    margin: auto;
}

.grid-container {
  display: grid;
  /* define the number of grid columns */
  grid-template-columns: repeat(2, minmax(650px, 1fr) );
  margin: auto;
  position: relative;
  padding: 10px;
  top: 50px;
  width: 1650px;
  left: 20px;
}

.Comment_section {
    padding-top: 50px;
    position: relative;
    top: 200px;
    border-top: 1px solid #ddd;
}

#intro_space {

    position: relative;
    height: 1000px;
    left: 50px;
    top: 230px;
    font-size: 30px;
    font-family: 'note_font';
    color: rgba(87, 32, 29, 0.7);

}

.right {
        position: absolute;
        left: 650px;
        top: 320px;
        transform: rotate(180deg);
    }

.left {
        position: absolute;
        left: 20px;
        top: 25px;
    }

.intro_txt {

    position: absolute;
    left: 120px;
    top: 70px;

}

.funny_section {

    position: absolute;
    width: 780px;
    height: 450px;
    top: 0px;
    left: 0px;

}

#authors {
    position: absolute;
    top: 500px;
    left: 300px;
}

.subject_page {
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100wh;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
}

.top_grid {
      display: grid;
      grid-template-columns: 500px 2fr;
      grid-template-rows: auto auto auto auto;
      top: 110px;
      position: absolute;
      left: 45%;
      padding: 0px;
      width: 90%;
}

.inner_left_top_grid {

      display: grid;
      grid-template-columns: 260px 260px;
      grid-template-rows: 260px 260px;
      column-gap: 9px;
      row-gap: 9px;
      top: 0px;
      width: 60%;
      position: relative;
      left: -5%;

}

.bottom_grid {

      display: grid;
      grid-template-columns: 260px 260px 260px 260px;
      grid-template-rows: auto auto auto auto;
      column-gap: 3px;
      top: 680px;
      left: 45.5%;
      position: absolute;
      padding: 0px;
      width: 90%;
}


.subject1{
    position: relative;
    border: 1px solid rgba(9, 43, 68, 0.7);
    width: 470px;
    height: 470px;
    top: 25px;
    margin: 0px;
    padding: 0px;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;

    background: rgba(87, 32, 29, 0.7);
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;


    p { color: #ffffff;
        text-transform: uppercase;
    }

    .border_sec {
        border: 2px solid #ffffff;
        width: 340px;
        height: 340px;
        position: relative;
        display: flex;
        vertical-align: middle;
        justify-content: center;
        align-items: center;
    }

    .txt_subject0, .txt_subject1, .txt_subject2 {
         position: relative;
         font-weight: 400;
         line-height: 1.7;
         font-size: 45px;
         -webkit-animation: fadein1 1s; /* Safari, Chrome and Opera > 12.1 */
            -moz-animation: fadein1 1s; /* Firefox < 16 */
             -ms-animation: fadein1 1s; /* Internet Explorer */
              -o-animation: fadein1 1s; /* Opera < 12.1 */
                 animation: fadein1 1s;
    }

    .txt_subject1 {
         position: relative;
         left: 40px;
         top: -65px;
    }

    .txt_subject2 {
         position: relative;
         right: 40px;
         top: 50px;
    }
}

.subject1:hover {
  background: rgba(87, 32, 29, 0.7);
  transform: scale(1.1);
}


.subject2{
    position: relative;
    top: -75px;
    border: 1px solid rgba(9, 43, 68, 0.7);
    width: 200px;
    height: 200px;
    margin: 100px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.4);
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;


    p { color: rgba(0, 0, 0, 0.5);
        text-transform: uppercase;
    }

    .border_sec {
        border: 2px solid rgba(0, 0, 0, 0.5);
        width: 160px;
        height: 160px;
        position: relative;
        display: flex;
        vertical-align: middle;
        justify-content: center;
        align-items: center;
    }

    .txt_subject0, .txt_subject1, .txt_subject2 {
         position: relative;
         font-weight: 600;
         line-height: 1.7;
         font-size: 15px;
         -webkit-animation: fadein2 1s; /* Safari, Chrome and Opera > 12.1 */
            -moz-animation: fadein2 1s; /* Firefox < 16 */
             -ms-animation: fadein2 1s; /* Internet Explorer */
              -o-animation: fadein2 1s; /* Opera < 12.1 */
                 animation: fadein2 1s;
    }

    .txt_subject1 {
         position: relative;
         left: 30px;
    }

    .txt_subject2 {
         position: relative;
         right: 30px;
    }

}

.subject2:hover {
  background: rgba(87, 32, 29, 0.7);
  transform: scale(1.1);
}


.subject-container {
  display: grid;
  grid-template-rows: 400px 300px 1fr;
  grid-template-columns: auto auto auto auto;
  top: 120px;
  margin: auto;
  position: relative;
  padding: 10px;
  width: 1700px;
  padding-bottom: 100px;
}

.subject{
    position: relative;
    border: 1px solid rgba(9, 43, 68, 0.7);
    width: 200px;
    height: 200px;
    margin: 0px;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.4);
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;


    p { color: rgba(0, 0, 0, 0.5);
        text-transform: uppercase;
    }

}

.subject:hover {
  background: rgba(87, 32, 29, 0.7);
  transform: scale(1.1);
}

#algeo, #topo, #alge, #diffgeo {
        background-color: rgba(65, 131, 196, 0.1);
        transition-property: background-color;
        transition-duration: 1s;
        transition-timing-function: linear;
    }

#algeo:hover, #topo:hover, #alge:hover, #diffgeo:hover {
  background-color: rgba(87, 32, 29, 0.7);
  transform: scale(1.1);
}


#lina {
    background-image: url("./images/subjects/lina1.png");
    background-size: 470px;
}

#ana {
    background-image: url("./images/subjects/ana.png");
    background-size: 200px;
}

#alge {
    background-image: url("./images/subjects/alge.png");
    background-size: 200px;
}

#algeo {
    background-image: url("./images/subjects/algeo.png");
    background-size: 200px;
}

#comp {
    background-image: url("./images/subjects/comp.png");
    background-size: 200px;
}

#topo {
    background-image: url("./images/subjects/topo.png");
    background-size: 200px;
}

#stat {
    background-image: url("./images/subjects/stat.png");
    background-size: 200px;
}

#funk {
    background-image: url("./images/subjects/funk.png");
    background-size: 200px;
}

#diffgeo {
    background-image: url("./images/subjects/diffge0.png");
    background-size: 200px;
}

.txt_subject0, .txt_subject1, .txt_subject2 {
     position: relative;
     font-weight: 600;
     line-height: 1.7;
     font-size: 15px;
     -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 1s; /* Firefox < 16 */
         -ms-animation: fadein 1s; /* Internet Explorer */
          -o-animation: fadein 1s; /* Opera < 12.1 */
             animation: fadein 1s;
}

.txt_subject1 {
     position: relative;
     left: 40px;
}

.txt_subject2 {
     position: relative;
     right: 40px;
}

.border_sec {
    border: 2px solid rgba(0, 0, 0, 0.5);
    width: 160px;
    height: 160px;
    position: relative;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}


@keyframes fadein {
    from { font-size: 5px; }
    to   { font-size: 15px; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { font-size: 5px; }
    to   { font-size: 15px; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { font-size: 5px; }
    to   { font-size: 15px; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { font-size: 5px; }
    to   { font-size: 15px; }
}

@keyframes fadein1 {
    from { font-size: 5px; }
    to   { font-size: 45px; }
}

/* Firefox < 16 */
@-moz-keyframes fadein1 {
    from { font-size: 5px; }
    to   { font-size: 45px; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein1 {
    from { font-size: 5px; }
    to   { font-size: 45px; }
}

/* Internet Explorer */
@-ms-keyframes fadein1 {
    from { font-size: 5px; }
    to   { font-size: 45px; }
}

@keyframes fadein2 {
    from { font-size: 5px; }
    to   { font-size: 15px; }
}

/* Firefox < 16 */
@-moz-keyframes fadein2 {
    from { font-size: 5px; }
    to   { font-size: 15px; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein2 {
    from { font-size: 5px; }
    to   { font-size: 15px; }
}

/* Internet Explorer */
@-ms-keyframes fadein2 {
    from { font-size: 5px; }
    to   { font-size: 15px; }
}

.section {
  background-color: #ffffff;
  width: 1000px;
  margin: auto;
  padding: 50px;
  justify-content: center;
  top: 50px;
  position: relative;

}

.table-name {
    text-align: center;
    padding-bottom: 20px;
}

.box {
    height: 260px;
}

.chapter-table {
    position: relative;
    left: 0px;

    ol {
        line-height: 60px;
    }
}

.chapter-table .box {
    width: 800px;
    text-align: center;
    margin: auto;
    padding: 10px;
    justify-content: center;
}

#sum_post {
  background-color: #ffffff;
  position: absolute;
  top: 0px;
  margin: 50px;
  width: 800px;
  height: 400px;
  padding: 50px;

  .summary {
    font-size: 16px;
    text-align: center;
    margin: 20px;
  }

  .read-more {
    text-transform: uppercase;
    position: relative;
    left: 560px;
    bottom: 10px;
    font-size: 14px;
    margin: 20px;
    font-weight: bold;
  }
}

.center_content {
    position: relative;
    text-align: center;
    margin: auto;
}

.wrapper-footer {
  margin: auto;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  position: relative;
  top: 0px;
  text-align: center;
}

.comment_btn {
    background-color: rgba(255, 255, 255,  0);
    position: relative;
    text-align: left;
    left: 320px;
    margin: 15px;
    border: none;
}

.comment_txt {
    text-transform: lowercase;
}

#addBtn {
  position: fixed; /* Fixed/sticky position */
  align: right;
  right: 380px;
  top: 120px;
  width: 60px;
  height: 60px;
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(255, 255, 255,  0); /* Set a background color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 0px; /* Rounded corners */
  font-size: 18px; /* Increase font size */

}

#myBtn {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  align: left;
  left: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #092b44; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 0px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: $blue; /* Add a dark-grey background on hover */
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";


.carousel {
  width: 100wh;
  margin: 0px;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0);
}

.slider {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  position: absolute;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
}

.slide {
  width: 100%;
  max-width: 850px;
  height: 100%;
  max-height: 600px;
  position: absolute;
  left: 0px;
  top: 220px;
  transition: all 0.5s;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}


.btn {
  position: fixed;
  width: 100px;
  height: 100px;
  padding: 10px;
  border: none;
  z-index: 10px;
  cursor: pointer;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0);
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 45%;
  left: 4%;
  z-index: 10000;
}

.btn-next {
  top: 45%;
  right: 2%;
  z-index: 10000;
}

.post_cont {

    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100wh;
    background-color: rgba(255, 255, 255, 0.5);
}

.index_cont {

    margin: 0px;
    padding: 0px;
    position: relative;
    top: 0px;
    width: 100wh;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0);

}


.marker {

        width: 0px;
        height: 0px;
        background-color: rgba(87, 32, 29, 0.0);
    }


svg {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 350px;
	width: 350px;
	z-index: 10000;
}

#loading {

    position: fixed;
    width: 100wh;
    height: 100vh;
    background: #ffffff;
}


.overlay {
  opacity: 0;
  transition: opacity 200ms ease-out;
}

.overlay.loaded {
  opacity: 1;
}


