---
layout: default
---

<article class="subject_page">

    <div class="subject-container">
        <div class="subject" id="lina">
            <a href="{{ site.baseurl }}/linear_algebra">
                <div class="border_sec">
                    <p class="txt_subject1">Linear</p>
                    <p class="txt_subject2"><br/>Algebra</p>
                </div>
            </a>
        </div>
        <div class="subject" id="ana">
            <a href="{{ site.baseurl }}/analysis">
                <div class="border_sec">
                    <p class="txt_subject0">
                        Analysis
                    </p>
                </div>
            </a>
        </div>
        <div class="subject" id="alge">
            <a href="{{ site.baseurl }}/algebra">
                <div class="border_sec">
                    <p class="txt_subject0">
                        Algebra
                    </p>
                </div>
            </a>
        </div>
        <div class="subject" id="algeo">
            <a href="{{ site.baseurl }}/algebraic_geometry">
                <div class="border_sec">
                    <p class="txt_subject1">Algebraic</p>
                    <p class="txt_subject2"><br/>Geometry</p>
                </div>
            </a>
        </div>
        <div class="subject" id="comp">
            <a href="{{ site.baseurl }}/comp_ana">
                <div class="border_sec">
                    <p class="txt_subject1">Complex</p>
                    <p class="txt_subject2"><br/>Analysis</p>
                </div>
            </a>
        </div>
        <div class="subject" id="topo">
            <a href="{{ site.baseurl }}/topo">
                <div class="border_sec">
                    <p class="txt_subject0">
                        Topology
                    </p>
                </div>
            </a>
        </div>
        <div class="subject" id="stat">
            <a href="{{ site.baseurl }}/stat">
                <div class="border_sec">
                    <p class="txt_subject0">
                        Statistic
                    </p>
                </div>
            </a>
        </div>
        <div class="subject" id="funk">
            <a href="{{ site.baseurl }}/funk_ana">
                <div class="border_sec">
                    <p class="txt_subject1">Functional</p>
                    <p class="txt_subject2"><br/>Analysis</p>
                </div>
            </a>
        </div>
    </div>

</article>